[submodule "public"]
	path = public
	url = https://github.com/zhenfeng-zhu/zhenfeng-zhu.github.io.git

[submodule "themes/sam"]
	path = themes/sam
	url = https://github.com/hivickylai/hugo-theme-sam.git
